


// 38cf99 основной
// 2fb887 текстовый
// 44ecb0 яркий для линий

// 969db7 текст темный на сером фоне
// 9c9c9c серый фон
// f0f0f0 светлый серый

.form__element-form{
    padding-bottom: 5px;
}
.form__label{
    display: block;
    padding: 10px 0;
    font-size: 14px;
    color: #b1b1b1;
    font-family: 'Montserrat-Medium';
}
.form__input{
    width: 100%;
}
.form__input input, .form__input textarea{
    background: #f2f4f8;
    border: 1px solid #eef1f8;
    height: 34px;
    line-height: 18px;
    padding: 9px 15px;
    margin: 2px 0;
    color: #969db7;
    font-size: 14px;
    width: 100%;
}
.form__element-form .el-input.is-disabled .el-input__inner{
    cursor: text;
    color: #575a5c;
}

.form__input textarea{
    height: auto;
}

.el-textarea__inner:focus {
    outline: 0;
    border-color: #44ecb0;
}
.form__input input:focus{
    border: 1px solid #44ecb0;
}
.form__input .el-input.is-focus .el-input__inner {
    border-color: #44ecb0;
}
.form__input .el-input__inner:focus {
    border-color: #44ecb0;
}

.form__input .el-input__suffix {
    top: 6px;
    transform: scale(1.2);
}
.form__input.el-select .el-input__suffix {
    top: 0;
}

.el-select-dropdown__item.selected {
    color: #44ecb0;
    font-weight: 700;
}


.er{
display: inline-block;
    width: 280px;
    padding: 8px 15px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #cacaca;
    background: #fff;
    margin-bottom: 10px;
}

.el-input-number {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 36px;
}

.form__button{
    width: 100%;
    height: 30px;
    padding: 0 10px;
    background: #38cf99;
    border: 1px solid #38cf99;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    font-family: 'Montserrat-Regular';
    display: block;
    margin-left: 10px;
    cursor: pointer;
    margin: 4px 0;
}

.form__button:disabled{
    background: #eeeeee;
    color: #a3a3a3;
}

.form__button:active, .form__button:focus {
    outline: none;
    border: 1px solid #bebebe;
}
.form__button::-moz-focus-inner {
    border: 0;
}

.form__button-slise-input{
    display: flex;
    background: #eef1f8;
    border: 1px solid #eef1f8;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;

    color: #969db7;
    font-size: 16px;

    margin-left: 10px;
    cursor: pointer;

    align-items: center;
    border-radius: 5px;
}

.form__button-slise-input:hover {
    border-color: #C0C4CC;
}

.form__button-slise-input i{
    margin-right: 5px;
    
}





.form__menu-item{
    height: 30px;
    display: block;
    padding: 0 5px 0 10px;
    font-size: 14px;
    line-height: 30px;
    color: #38cf99;
    cursor: pointer;
    position: relative;
    margin: 10px 0;

    &:hover{
        background: rgba(56, 207, 154, 0.1);
    }
    &.active{
        background: rgba(56, 207, 154, 0.1);
    }
    &.active:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: #38cf99;
        width: 2px;
        height: 100%;
        border-radius: 0 3px 3px 0;
    }
}








.form__input.el-input-number.is-controls-right .el-input-number__increase, 
.form__input.el-input-number.is-controls-right .el-input-number__decrease {
    height: 18px;
}
.form__input.el-input-number.is-controls-right .el-input-number__increase [class*=el-icon], 
.form__input.el-input-number.is-controls-right .el-input-number__decrease [class*=el-icon] {
    position: relative;
    // top: 1px; 
}
.el-input-number__decrease:hover:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled),
.el-input-number__increase:hover:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled) {
    border-color: #44ecb0;
}
.el-input-number__decrease:hover, .el-input-number__increase:hover,
.el-input-number__increase:hover, .el-input-number__increase:hover {
    color: #44ecb0;
}

.el-input .el-input__clear {
    position: relative;
    top: -6px;
}


.form__grup{
    border: 1px solid #eef1f8;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
}
.form__grup-label{
    position: absolute;
    top: -10px;
    background: #fff;
    font-family: 'Montserrat-Medium';
    padding: 0 5px;
}

.form__upload-baner{
    padding: 20px 0;
    display: flex;
}

.form__upload-baner-button{
    width: 200px;
    height: 200px;
    font-size: 14px;
}
.form__upload-baner-button i{
    font-size: 50px;
}
.form__upload-prevue{
    width: 100%;
    height: 200px;
    padding: 5px;
    position: relative;
    top: -18px;
}
.form__upload-prevue-content{
    border: 1px solid #f2f5fc;
    height: 175px;
}
.form__upload-prevue-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.form__upload-baner .el-upload-list__item-name{
    width: 200px;
    margin-right: 0;
}
.form__upload-panel .form__label{
    padding: 4px 0 0 0;
}
.form__upload-panel{
    width: 200px;
    padding: 0 15px;
}
.form__upload-panel .el-radio.is-bordered{
    margin: 4px 0;
    width: 105px;
}








.form__label--small{
    display: block;
    padding: 6px 0;
    font-size: 12px;
    color: #b1b1b1;
    font-family: 'Montserrat-Medium';
}
.form__input--small input, .form__input--small textarea{
    background: #eef1f8;
    border: 1px solid #eef1f8;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;

    color: #969db7;
    font-size: 14px;
}
.form__input--small input:focus{
    border: 1px solid #44ecb0;
}
.form__input--small .el-input__suffix {
    top: 6px;
    transform: scale(1.2);
}

.form__input--small.el-input-number {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 28px;
}
.form__input--small.el-input .el-input__clear {
    position: relative;
    top: -10px;
}

.form__grup--small{
    border: 1px solid #eef1f8;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}
.form__grup-label--small{
    position: absolute;
    top: -10px;
    background: #fff;
    font-size: 12px;
    font-family: 'Montserrat-Medium';
    padding: 0 5px;
}

.form__input--small.el-input-number.is-controls-right .el-input-number__increase, 
.form__input--small.el-input-number.is-controls-right .el-input-number__decrease {
    height: 14px;
}
.form__input--small.el-input-number.is-controls-right .el-input-number__increase [class*=el-icon], 
.form__input--small.el-input-number.is-controls-right .el-input-number__decrease [class*=el-icon] {
    position: relative;
    // top: 1px; 
}









.el-radio.is-bordered + .el-radio.is-bordered {
    margin-left: 0;
}

.el-dialog__header{
    padding: 30px 30px 20px 30px;
}
.el-dialog__body{
    padding: 20px 30px 20px 30px;
}
.el-dialog__footer{
    padding: 20px 30px 30px 30px;
}

.el-button:hover {
    color: #2fb887;
    border-color: #44ecb0;
    background-color: #fbfcfd;
}
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
    color: #FFF;
    background-color: #38cf99;
    border-color: #38cf99;
}
.el-radio-button__inner:hover {
    color: #2fb887;
}
.el-button--primary {
    color: #FFF;
    background-color: #38cf99;
    border-color: #38cf99;
}

.el-dialog__headerbtn:hover .el-dialog__close {
    color: #44ecb0;
}

// Флажок
.el-checkbox__inner:hover {
    border-color: #38cf99;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #38cf99;
    border-color: #38cf99;
}

// Переключалеь булевый
.el-switch.is-checked .el-switch__core {
    border-color: #38cf99;
    background-color: #38cf99;
}

// Кнопки переключения
.el-radio.is-bordered.is-checked {
    border-color: #38cf99;
}
.el-radio__input.is-checked + .el-radio__label {
    color: #38cf99;
}
.el-radio__input.is-checked .el-radio__inner {
    border-color: #38cf99;
    background: #38cf99;
}


.el-table .cell {
    word-break: normal;
}




.icon-hover{
    cursor: pointer;
    position: relative;
    top: 1px;

    &:hover{ color: #38cf99; }
}
.el-popover{
    word-break: normal;
    text-align: left;
    font-size: 12px;
    &--plain {
        padding: 12px 16px;
    }
}


.tag{
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    font-family: 'Montserrat-Medium';
    background: #38cf99;
    color: #fff;
    padding: 6px 15px;
    border-radius: 100px;

    i{
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: #fff;
        font-family: 'Montserrat-Medium';
        font-size: 13px;
    }

    &-border{
        display: inline-block;
        font-size: 13px;
        line-height: 13px;
        font-family: 'Montserrat-Medium';
        background: #f0f0f0;
        color: #2fb887;
        padding: 6px 15px;
        border-radius: 100px;
    }

    &--icon{
        padding: 6px 6px;
        border-radius: 5px;
        margin-left: 2px;
        margin-bottom: 2px;
    }
}
.tag-color--blue{
    color: #fff;
    background: #3ca6e4;
}
.tag-color--yellow{
    color: #fff;
    background: #f1b22a;
}
.tag-color--red{
    color: #fff;
    background: #ec5e5e;
}
.tag-color--gray{
    color: #fff;
    background: #cecece;
}
.tag-color--grin{
    color: #fff;
    background: #1bd361;
}







.table__button{
    height:35px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    color: #2fb887;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    display: inline-block;
    float: right;
    margin-left: 10px;
    cursor: pointer;
}

















.form{
    width: 100%;
    display: flex;
}



// .form__input{
//     display: inline-block;
//     width: 100%;
//     padding: 8px 15px;
//     outline: none;
//     border-radius: 4px;
//     border: 1px solid #cacaca;
//     background: #fff;
//     margin-bottom: 10px;
//     font: 400 13.3333px Arial;
// }


.form__chek{}


.form__grid-2{
    width: 50%;
    padding: 10px;
}







.form__cheked{
    display: inline-block;
    position: relative;
    top: -2px;
}
.form__cheked-input{
    display: none;
}
.form__cheked-label{
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #c3c6c9;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    vertical-align: top;
    position: relative;
    top: 0px;
}

.form__cheked-label > div{
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 4px;
    background: #d3d6d8;
    border-radius: 3px;
    display: none;
}
.form__cheked-input:checked + .form__cheked-label > div{
    display: block;
}





.element-form{
    position: relative;
    border: 1px solid #c3c6c9;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}
.element-form--error{
    border: 1px solid #ca0505;
}
.element-form__contener{
    margin-top: 10px;
    width: 100%;
}
.element-form__label{
    position: absolute;
    background: #fff;
    color: #8b9094;
    top: -12px;
    left: 10px;
    font-size: 13px;
    padding: 0 5px;
}
.element-form__label-req{
    color: #ca0505;
}

.element-form__info{
    text-align: left;
    word-break: normal;
}

.element-form__input, .element-form .el-input{
    width: calc( 100% - 20px );
}
.element-form__input, .element-form input{
    padding: 0 !important;
    height: 20px;
    line-height: 20px;
    outline: none;
    border: none;
    background: #fff;
    font: 400 13.3333px Arial;
}

.element-form .el-input__suffix {
    top: -10px ;
}

.element-form__button{
    width: 20px;
    height: 20px;
    background: #40c173;
    color: #fff;
    border-radius: 3px;
    padding: 2px 3px;
    font-size: 13px;
    cursor: pointer;
}
