  
  // 38cf99 основной
  // 31b687 ховер
  // 2fb887 тонкотекстовый


  body *, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }

  body{
    font-family: 'Montserrat-Regular';
    overflow: hidden;
  }

  .messages-ui{
    font-family: 'Montserrat-Medium';
  }




  /*  
  |  Основа всех страниц
  */

  .content-site{
    width: 100%;
    overflow-x: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  main{
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    background: #eff3f6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .main{
    padding: 0 15px;
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .main__content{
    min-height: 0;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-grow: 10;
  }

  @media all and (min-width: 1440px) {
    main{
      width: calc(100vw - 80px);
    }
    .main{
      padding: 0 60px;
    }
  }














.cheked{
    display: inline-block;
    position: relative;
    top: -2px;
}
.cheked__input{
    display: none;
}
.cheked__label{
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #c3c6c9;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    vertical-align: top;
    position: relative;
    top: 0px;
}

.cheked__label > div{
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 4px;
    background: #d3d6d8;
    border-radius: 3px;
    display: none;
}
.cheked__input:checked + .cheked__label > div{
    display: block;
}




  /* Button panels */
  
  .button{
      width: 100%;
      display: block;
      text-align: center;
      background: #40c173;
      /* background-image: linear-gradient(to left, #48be69, #71d88b); */
      color: rgba(255, 255, 255, 0.99);
      line-height: 34px;
      padding: 0 15px;
      font-size: 13px;
      font-family: 'Montserrat-Black';
      letter-spacing: 0.06em;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      margin-bottom: 10px;
      border-radius: 3px;
      outline: none;
  }
  .button:hover{
      background: #4fd374;
      /* background-image: linear-gradient(to right, #48be69, #71d88b); */
  }

  .panels__button-link:hover span{
      text-decoration: underline;
  }

  .panels__grup-button{
      display: flex;
      flex-direction: row;
  }

  .panels__grup-button .button{
      border-radius: 0;
      border-right: 1px solid #e9e9e9;
  }
  .panels__grup-button .button:first-child{ border-radius: 3px 0 0 3px; }
  .panels__grup-button .button:last-child{ 
      border-radius: 0 3px 3px 0;
      border: none;
  }

  .panels__grup-button .button--coll1{ width: 25%; }
  .panels__grup-button .button--coll2{ width: 50%; }
  .panels__grup-button .button--coll3{ width: 75%; }
  .panels__grup-button .button--coll4{ width: 100%; }







  .panels__list{
    height: 150px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
  } 
  .panels__list--more{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .panels__list-item{
    font-size: 14px;
    padding: 4px 4px;
  }
  .panels__list-item-text{
    padding: 0 4px;
  }

  .panels__button-link{
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #919191;
  }



  /* Modal */
  .modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    z-index: 9999;
  }
  .modal__form{
    width: 650px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #b6b6b6;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }


  .close{
      width: 100%;
  }
    .close__btn{
        display: inline-block;
        font-size: 24px;
        color: #949393;
        float: right;
        cursor: pointer;
    }


  

  /* modal film info */
  .modal__info-film{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .modal .modal__input{
    padding: 0 0 0 5px;
    font-size: 15px;
    font-family: 'Montserrat-Medium';
    border:none;
    color:#000;
    border-left: 1px solid #40c173;
    border-radius: 0;
    margin: 2px 0 0 1px;
  }

  .modal_info-coll-1{width: 25%;}
  .modal_info-coll-2{width: 50%;}
  .modal_info-coll-3{width: 75%;}
  .modal_info-coll-4{width: 100%;}

  .modal__info-film-image{
    width: 30%;
  }
    .modal__info-film-img{
      width: 100%;
    }

  .modal__info-film-contener{
    width: 70%;
    padding-left: 10px;
  }
      .modal__info-film-text{
          padding-bottom: 10px;
          display: flex;
          flex-direction: row;
      }
          .modal__info-film-title-tupe{
              font-size: 12px;
              color: #919191;
          }
          .modal__info-film-tupe{
              font-size: 15px;
              font-family: 'Montserrat-Medium';
          }
          .modal__info-film-tupe-link{
              color: #48be69;
          }
          .modal__info-film-diskript{
              max-height: 200px;
              overflow: auto;
          }